# Byte-compiled
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
.venv/
env/
venv/
ENV/

# Database
src/data/cmp.db
*.db

# Artifacts/Temp
pytest_output.txt
.pytest_cache/
.coverage
htmlcov/

docs/FYP Template Doc.pdf
plans/

# Ignore secret variables files
*.tfvars
*.tfvars.json

# Ignore override files used locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .tfstate files
*.tfstate
*.tfstate.*

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log